<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <!-- Change this line to use resources.Get for assets directory -->
    {{ $style := resources.Get "css/app-layout.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <header>
        <nav>
            <div class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
            <ul class="main-menu">
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </header>
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    <footer>
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.</p>
    </footer>
</body>
</html>